<html xmlns:th="http://www.thymeleaf.org">

<head>
<body>

	<form action="#" th:action="@{/add}" th:object="${department}"
		method="post">

		<label for="deptname">Department Name</label> <input type="text"
			th:field="*{deptname}" id="deptname" placeholder="Department Name">

		<span th:if="${#fields.hasErrors('deptname')}" th:errors="*{deptname}"></span>

		</br> <label for="location">Location</label> <input type="text"
			th:field="*{location}" id="location" placeholder="Location">

		<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>

		</br> <input type="submit" value="Add Department">

	</form>

</body>

</html>