<html xmlns:th="http://www.thymeleaf.org">

<head>

<body>

<form action="#" th:action="@{/update/{id}(id=${department.deptno})}" th:object="${department}" method="post">

<label for="deptname">Department Number</label>

<input type="text" th:field="*{deptno}" id="deptno" placeholder="Department No">

<span th:if="${#fields.hasErrors('deptno')}" th:errors="*{deptno}"></span>

</br>

<label for="deptname">Department Name</label>

<input type="text" th:field="*{deptname}" id="deptname" placeholder="Department Name">

<span th:if="${#fields.hasErrors('deptname')}" th:errors="*{deptname}"></span>

</br>

<label for="location">Location</label>

<input type="text" th:field="*{location}" id="location" placeholder="Location">

<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>

</br>

<input type="submit" value="Edit Department">

</form>

</body>

 </html>